{
    "presets": ["next/babel"],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "markup",
                    "markdown",
                    "json",
                    "cpp"
                ],
                "plugins": [
                    "line-numbers",
                    "show-language",
                    "copy-to-clipboard"
                ],
                "theme": "tomorrow",
                "css": true
            }
        ]
    ]
}
